.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  a , svg,xlink{
    color: #ff5733 !important; /* Cambia este valor al color que desees */
  }
  .bi {
    fill:bisque;
  }

  .nav-link.active {
    color: #3633ff; /* Color naranja */
    font-weight: bold; /* Texto en negrita */
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }